<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>

<body>


    <!--This is the main html page that will load and dynamically load the handlebar templates-->

    <div>
        <a href="/">Home</a> |
        <a href="/add-burger">Add Burger</a>
    </div>
    {{{body}}}


</body>

</html>