<!DOCTYPE html>
<html lang="en">

<head>

    <!-- This file will be used to add all scripts and css. No contentå -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css">
</head>

<body>


    <!--This is the main html page that will load and dynamically load the handlebar templates-->

    {{{body}}}



</body>

</html>